.container{
    background-color: #ddd;
    border-radius: 8px;
    font-family: American Typewriter, serif;
    margin: auto;
    padding: 20px;
    width: 80%;
}

header{
    /*display: flex;*/
    justify-content: space-between;
    align-items: center;
    font-family: American Typewriter, serif;
    background-color: rgb(0, 174, 255);
    padding: 5px;
    text-align: center;
}

footer{
    padding-top: 5px;
    text-align: center;
}

header h1 {
    text-align: center;
    font-size: 35px;
}

/* .navigation {
    background-color: #eee;
    border-radius: 8px;
    grid-row: 1/4;
    grid-column: 1;
} */

nav button{
    align-content: center;
    background-color: rgb(0, 174, 255);
    color: black;
    /*padding: 10px;*/
    font-size: 14px;
    border: none;
    cursor: pointer;
}

nav button:hover{
    background-color: #eee;
    transition: .5s;
}

.aboutImg{
    border-radius: 50%;
    box-shadow: 0px 0px 3px 3px rgb(0, 174, 255);
    height: auto;
    margin-top: 20px;
    width: 20%;
}

.articleImg{
    box-shadow: 0px 0px 1px 1px gray;
    height: auto;
    margin-top: 20px;
    width: 50%;
}

#github{
    height: 25px;
}

#linkedin{
    height: 25px;
}

#infoPara{
    margin: 10px;
}

.sectionImg{
    border-radius: 2px;
    box-shadow: 0px 0px 3px 3px burlywood;
    height: auto;
    margin-top: 10px;
    width: 30%;
}

main{
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto auto;  
  background-color: #eee;
  grid-gap: 8px;
  padding: 25px;
  text-align: center;
}

section,article{
    background-color: #ddd;
    border-radius: 8px;
}


.subheading{
    font-size: 13px;
}

.about-section{
    grid-column: 1/4;
}

#project-title,#about-title{
    grid-column: 1/4;
    text-align: center;
    font-size: 18px;
    background-color: gray;
}

.section-two{
    grid-column: 1/2;
}

.section-three{
    grid-column: 2/3;
}

.section-four{
    grid-column: 3/4;
}